:root {
  --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --mint-cream: #f4fffa;
  --phtalo-green: #193521;
  --hunter-green: #20603c;
  --tea-green: #c8f7c5;
  --dark-jungle-green: #1d2321;

  --main-bg-color: #fff;
  --main-color: #444;
  --main-heading-color: #222;
  --main-link-color: var(--main-color);
  --main-link-hover-color: var(--main-heading-color);

  --footer-bg-color: var(--main-bg-color);
  --footer-color: var(--main-color);
  --footer-link-color: var(--main-link-color);

  --base-padding: 1rem;
  --base-font-size: 100%;

  --body-width: 70ch;

  --device-medium: 720px;
  --device-large: 960px;

  --logo-size: 64px;
  --logo-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --main-bg-color: var(--dark-jungle-green); */
    --main-bg-color: #222;
    /* --main-color: var(--mint-cream); */
    --main-color: #eee;
    /* --main-heading-color: var(--main-color); */
    --main-heading-color: #fff;

    --logo-color: #fff;

    --footer-bg-color: var(--main-bg-color);
    --footer-color: var(--main-color);
    --footer-link-color: var(--footer-color);
  }
}

* {
  transition: font-size 0.2s;
}

html {
  scroll-behavior: smooth;
  background: var(--main-bg-color);
  font-size: var(--base-font-size);
  line-height: 1.4;
}

body {
  font-family: var(--system-font);
  color: var(--main-color);
}

header,
main {
  max-width: var(--body-width);
  margin: 0 auto;
  padding: 0 var(--base-padding);
  text-align: center;
}

main {
  max-width: calc(var(--body-width) * 1.5);
}

header {
  margin-top: 3rem;
}

footer {
  background: var(--footer-bg-color);
  color: var(--footer-color);
  overflow: hidden;
  padding: var(--base-padding);
  margin-top: 15vh;
}

footer .footer-inner {
  max-width: var(--body-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer a,
footer a:link,
footer a:visited {
  color: var(--footer-link-color);
  text-decoration: none;
}
footer a:hover,
footer a:active,
footer a:focus {
  text-decoration: underline;
}

h1,
h2 {
  color: var(--main-heading-color);
  line-height: 1;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}
h1 + .tagline {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-heading-color);
  line-height: 1.2;
  margin-bottom: 1rem;
}

#logo {
  max-width: var(--logo-size);
  height: auto;
  transition: max-width 0.2s;
}
#logo polygon {
  fill: var(--logo-color);
  transition: fill 0.2s;
}

a,
a:link,
a:visited {
  color: var(--main-link-color);
}
a:hover,
a:active,
a:focus {
  color: var(--main-link-hover-color);
}

section {
  padding-top: calc(var(--base-padding) * 3);
}

.grid {
  margin-bottom: 1rem;
  text-align: left;
}

.grid > .card {
  border-radius: 0.5rem;
  min-height: 200px;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  transition: min-height 0.2s, border-color 0.2s;
  border: 1px solid;
  background: var(--main-bg-color);
  color: var(--main-color);
}

.grid > .card:hover {
  border-color: var(--main-link-hover-color);
}

.grid > .card.inverted {
  --main-link-color: var(--main-bg-color);
  --main-link-hover-color: var(--main-bg-color);
  background: var(--main-heading-color);
  color: var(--main-bg-color);
}

.grid > .card.lina {
  --main-bg-color: #b0bce8;
  --main-color: #870c25;
  --main-link-color: var(--main-color);
  --main-link-hover-color: #401;
  --main-heading-color: var(--main-color);
  border-width: 0;
}

.grid > .card.nils {
  --main-bg-color: var(--mint-cream);
  --main-color: var(--hunter-green);
  --main-link-color: var(--main-color);
  --main-link-hover-color: var(--phtalo-green);
  --main-heading-color: var(--main-color);
}

.grid > .card.dubbel8 {
  --main-bg-color: #fc0;
  --main-color: #000;
  --main-link-color: #224;
  --main-link-hover-color: #000;
  --main-heading-color: var(--main-color);
  border-width: 0;
}

.grid > .card > p {
  margin-top: 0;
}

.grid > .card h2 {
  margin: 0.5rem 0;
}

.grid > .card h2 + p {
  margin-top: 0;
}

.grid > .card a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: '';
  background-color: rgba(0, 0, 0, 0);
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }

  @media (min-width: 880px) {
    .grid > .card {
      min-height: 300px;
    }
  }

  @media (min-width: 1220px) {
    .grid > .card {
      min-height: 400px;
    }
  }
}

[role='navigation'] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
[role='navigation'] ul li {
  display: inline-block;
}
[role='navigation'] ul li:not(:last-child)::after {
  content: ' • ';
}

/* Accessible hiding */
.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Medium Device Breakpoint */
@media (min-width: 720px) {
  /* html {
    font-size: calc(var(--base-font-size) * 1.15);
  } */
  :root {
    --logo-size: 96px;
  }
}

/* Large Device Breakpoint */
@media (min-width: 960px) {
  :root {
    --logo-size: 128px;
  }
  /* html {
    font-size: calc(var(--base-font-size) * 1.25);
  } */
  h1 {
    font-size: 4rem;
  }
  h1 + .tagline {
    font-size: 2rem;
  }
}
