:root {
	--system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;

	--mint-cream: #f4fffa;
	--phtalo-green: #193521;
	--hunter-green: #20603c;
	--tea-green: #c8f7c5;
	--dark-jungle-green: #1d2321;

	--main-bg-color: #fff;
	--main-color: #444;
	--main-heading-color: #222;
	--main-link-color: var(--main-color);
	--main-link-hover-color: var(--main-heading-color);

	--footer-bg-color: var(--main-bg-color);
	--footer-color: var(--main-color);
	--footer-link-color: var(--main-link-color);

	--base-padding: 1rem;
	--base-font-size: 100%;

	--body-width: 70ch;

	--device-medium: 720px;
	--device-large: 960px;

	--logo-size: 64px;
	--logo-color: #000;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* --main-bg-color: var(--dark-jungle-green); */
		--main-bg-color: #222;
		/* --main-color: var(--mint-cream); */
		--main-color: #eee;
		/* --main-heading-color: var(--main-color); */
		--main-heading-color: #fff;

		--logo-color: #fff;

		--footer-bg-color: var(--main-bg-color);
		--footer-color: var(--main-color);
		--footer-link-color: var(--footer-color);
	}
}

* {
	transition: font-size 0.2s;
}

html {
	scroll-behavior: smooth;
	background: var(--main-bg-color);
	font-size: var(--base-font-size);
	line-height: 1.4;
}

body {
	font-family: var(--system-font);
	color: var(--main-color);
}

.container {
	max-width: var(--body-width);
	margin: 0 auto;
	padding: 0 var(--base-padding);
	text-align: center;
}

h1,
h2 {
	color: var(--main-heading-color);
	line-height: 1;
}

h1 {
	font-size: 3rem;
	margin-top: 0;
}
.tagline {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--main-heading-color);
	line-height: 1.2;
	margin-bottom: 1rem;
}

a,
a:link,
a:visited {
	color: var(--main-link-color);
}
a:hover,
a:active,
a:focus {
	color: var(--main-link-hover-color);
}

section {
	padding-top: calc(var(--base-padding) * 3);
}

[role='navigation'] ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
[role='navigation'] ul li {
	display: inline-block;
}
[role='navigation'] ul li:not(:last-child)::after {
	content: ' • ';
}

/* Accessible hiding */
.hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/* Medium Device Breakpoint */
@media (min-width: 720px) {
	/* html {
    font-size: calc(var(--base-font-size) * 1.15);
  } */
	:root {
		--logo-size: 96px;
	}
}

/* Large Device Breakpoint */
@media (min-width: 960px) {
	:root {
		--logo-size: 128px;
	}
	/* html {
    font-size: calc(var(--base-font-size) * 1.25);
  } */
	h1 {
		font-size: 4rem;
	}
	.tagline {
		font-size: 2rem;
	}
}
